body{
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.6;
    box-sizing: border-box;
    margin: 0;
}
#glavna a{
    color: black;
    text-decoration: none;
}
#glavna a:hover{
    text-decoration: underline #fbce11;
    cursor: pointer;
    opacity: 0.8;
}
#glavna:hover{
    opacity: 0.8;
    scale: 1.2;
    transition: 0.5s;
}

.logo{
    width: 100%;
    overflow: hidden;
    background: #a6051a;
    color: #ffffff;
}


.logo p{
    font-size: 30px;
    font-family: 'FerroRosso';
    color: black;
    margin: 0%;
    display: block;
    position: absolute;
    top:20px;
    left: 30px;
}

@font-face {
    font-family: 'FerroRosso';
    src: local("FerroRosso"), url("FerroRosso.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Formula1-Regular';
    src: local("Formula1-Regular"), url("Formula1-Regular.otf") format("truetype");
}
.ferrari{
    height: 80px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.ferrari:hover{
    opacity: 0.7;
    scale: 1.2;
    cursor: pointer;
    transition: 0.2s;
}

.social{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    text-decoration: none;
}

.li1{
    display: inline-block;
}

.fa {
	width: 25px;
    float: right;
    color: black;
  }

.fa:hover{
    color: #d94659;
    scale: 1.5;
    transition: 0.20s;
}

.lista1{
    border-top: 2px solid black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a6051a;
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
}

.li2{
    display: inline;
    font-family: 'Formula1-Regular';
    font-size: 20px;

}

.li2 a{
    display: inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 10px;
}

.li2 a:hover{
    scale: 1.3;
    color: #ffffff;
    transition: 0.20s;
}

#current{
    color: white;
}

.showcase{
    background-image: url("volan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 535px;
    background-position: 50% 50%;
}

.showcase h1{
    margin: 0;
    color: #ffffff;
    margin-left: 100px;
    font-family: 'Formula1-Regular';
    font-size: 50px;
    margin-bottom: 35px;
    text-shadow: black 0.1em 0.1em 0.2em;

}
.showcase p{
    margin: 0;
    color: #ffffff;
    margin-left: 100px;
    font-family: 'Formula1-Regular';
    font-size: 20px;
    margin-bottom: 70px;
    text-shadow: gray 0.1em 0.1em 0.2em;
}
.showcase a{
    text-decoration: none;
    color: white;
}
.showcase button{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 25px;
    display: inline;
    margin-left: 20px;
}
.showcase button:hover{
    color: #a6051a;
    scale: 1.3;
    transition: 0.20s;
}
.showcase a:hover{
    color: #a6051a;
    scale: 1.3;
    transition: 0.20s;
}
#link{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-size: 25px;
}
.bolid{
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.bolid img{
    width: 50%;
    display: flex;
    float:right;
    align-items: flex-end;
    margin-bottom: 10px;
    margin-top: 100px;
    border-left: #fbce11 1px solid;
    border-bottom: #fbce11 1px solid;
    border-bottom-left-radius: 40px;
}
.container{
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #a6051a;
}
aside{
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #a6051a;
}
aside img{
    width: 50%;
    margin-bottom: 10px;
    border-bottom: #fbce11 1px solid;
    border-right: #fbce11 1px solid;
    border-bottom-right-radius: 40px;
}
.sezona{
    width: 100%;
    background-color: #a6051a;
    color: white;
    text-align: center;
    font-family: 'Formula1-Regular';
    font-size: 30px;
    padding: 20px;
}
.sezona h2{
    margin-left: 20px;
    border-top: #111111 5px solid;
    border-right: #111111 5px solid;
    border-top-right-radius: 40px;

}
.pregled{
    background-color: #a6051a;
    color: white;
    text-align: left;
    font-family: 'Formula1-Regular';
    width: 640px;
    height: 100px;
}
.sezona p{
    line-height: 0.8em;
    font-size: 20px;
    font-family: 'Formula1-Regular';
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}
#wdc{
    padding-top: 25px;
}

.vozaci{
    background-color: #a6051a;
    color: white;
    text-align: center;
    padding: 20px;
    padding-bottom: 0;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'Formula1-Regular';
}
#tim{
    border-top: 3px white solid;
}
.vozaci p{
    margin-top: 5px;
    font-size: 40px;
}
.vozac1{
    background-image: url("cl2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
}
.vozac1 p{
    margin:0;
    padding: 2px;
    font-size: 30px;
    position: absolute;
    top: 0px;
    left: 40%;
    text-shadow: black 5px 5px 5px;
    color: white;
}
.vozac1 #driver{
    position: absolute;
    top: 60px;
}
.vozac2{
    margin-top: 10px;
    background-image: url("cs2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
}
.vozac2 p{
    margin:0;
    padding: 2px;
    font-size: 30px;
    position: absolute;
    top: 0px;
    left: 40%;
    text-shadow: black 5px 5px 5px;
    color: white;
}
#name:hover{
    scale: 1.3;
    transition: 0.20s;
    color:#fbce11 ;
}
.vozac2 #driver{
    position: absolute;
    top: 60px;
}
.vozac2 #name{
    position: absolute;
    left:41%;
}
.vozac2 a{
    text-decoration: none;
    color: white;
}
.vozac2 a:hover{
    color: #fbce11;
    scale: 1.3;
    transition: 0.20s;
}
.vozac1 a{
    text-decoration: none;
    color: white;
}
.vozac1 a:hover{
    color: #fbce11;
    scale: 1.3;
    transition: 0.20s;
}
.direktor{
    background-image: url("binotto.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
}
#mattia{
    font-size: 35px;
    margin-bottom: 5px;
}
#fja{
    font-size: 25px;
    margin-bottom: 5px;
}
#fja:hover{
    scale: 1.3;
    transition: 0.20s;
    color:#fbce11 ;
}
#mattia:hover{
    scale: 1.3;
    transition: 0.20s;
    color:#fbce11 ;
}
.mekies{
    background-image: url("mekies.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
}

.sponzori{
    background-color: rgb(211, 208, 208);
    color: black;
    text-align: center;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'Formula1-Regular';
    border-top:2px black solid; 
}
.sponzori img{
    width: 10%;
    padding-right: 45px;
}
.sponzori #defender{
    margin-bottom: 40px;
}
.sponzori #santander{
    margin-bottom: 10px;
}
.sponzori #snapdragon{
    margin-bottom: 40px;
    scale: 1.5;
}
#shell:hover{
    scale: 1.3;
    transition: 0.20s;
    opacity: 0.5;
}
#santander:hover{
    scale: 1.3;
    transition: 0.20s;
    opacity: 0.5;
}
#defender:hover{
    scale: 1.3;
    transition: 0.20s;
    opacity: 0.5;
}
#snapdragon:hover{
    scale: 1.8;
    transition: 0.20s;
    opacity: 0.5;
}
#velas:hover{
    scale: 1.3;
    transition: 0.20s;
    opacity: 0.5;
}
.sponzori2{
    background-color: rgb(211, 208, 208);
    color: black;
    text-align: center;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'Formula1-Regular';
}
.sponzori2 img{
    width: 10%;
    padding-right: 45px;
}
#pirelli{
    margin-bottom: 20px;
}
#pirelli:hover{
    scale: 1.3;
    transition: 0.20s;
    opacity: 0.5;
}
#bell:hover{
    scale: 1.3;
    transition: 0.20s;
    opacity: 0.5;
}
footer{
    background-color: #a6051a;
    color: white;
    text-align: center;
    padding: 20px;
    padding-left: 0px;
    padding-right: 15px;
    font-family: 'Formula1-Regular';
    margin: 0;
}
footer p{
    margin: 0;
    font-size: 13px;
}
footer a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
footer a:hover{
    color: #fbce11;
    transition: 0.40s;
}
#srce{
    color: black;
    size: 15px;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: auto;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: 'Formula1-Regular';
  font-size: 15px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-family: 'Formula1-Regular';
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.active, .dot:hover {
  background-color: #a6051a;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.naslov{
    height: 100px;
    width: 100%;
    background-color: #a6051a;
    border-top: 2px solid #111111  ;
}
.naslov h2{
    font-family: 'Formula1-Regular';
    font-size: 30px;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;

}
.profil{
    float: left;
}
.kaciga{
    width: 400px;
    height: 300px;
    margin-left: 0;
}
.kaciga_sainz{
    width: 300px;
    height: 200px;
    margin-left: 0;
}
table{
    font-family: 'Formula1-Regular';
    font-size: 15px;
    color: #a6051a;
    margin-left: 200px;
}
th,td{
    padding-right: 15px;
    padding-top: 5px;
    padding-left: 20px;
}
th{
    color: black;
    text-align: left;
}
.monako{
    margin-left: 20px;
    border-radius: 10px;
}
#spanija{
    width: 40%;
    margin-left: 20px;
    border-radius: 10px;
}
.statistika{
    background-color: rgb(211, 208, 208);
}
#broj{
    font-size: 50px;
    color: #a6051a;
    font-family: 'Formula1-Regular';
    margin-left: 150px;
    padding-bottom: 15px;
}
#ferrari{
    border-right: #111111 2px solid;
    border-bottom: #111111 2px solid;
    border-bottom-right-radius: 20px;
}
#p1{
    border-right: #a6051a 5px solid;
    border-top: #a6051a 5px solid;
    border-top-right-radius: 20px;
}
.biografija{
    background-color: rgb(211, 208, 208);
}
.biografija h2{
    margin: 0;
    font-family: 'Formula1-Regular';
    padding-left: 40px;
    padding-right: 40px;
    color: #a6051a;
    text-align: center;
    font-size: 40px;
    font-style: italic;
}
.biografija p{
    margin: 0;
    font-family: 'Formula1-Regular';
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.8;
}
#zadnji{
    padding-bottom: 15px;
}
.sljedeća{
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    font-family: 'Formula1-Regular';
}
.sljedeća a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.prethodna{
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    font-family: 'Formula1-Regular';
}
.prethodna a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.sainz{
    width: 80%;
}
.f175{
    width: 100%;
    background-color: #a6051a;
}
.f175 h2{
    font-family: 'Formula1-Regular';
    font-size: 30px;
    color: #111111;
    text-align: center;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    border-top: #111111 2px solid;
}
.showcase2{
    background-image: url("/slike/f1-75.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    margin-top: 0;
    position: relative;
}
.bijela-strelica{
    height: 50px;
    position: absolute;
    top: 440px;
    left: 47%;
}
.bijela-strelica1{
    height: 50px;
    position: absolute;
    top: 400px;
    left: 47%;
}
.bijela-strelica:hover{
    cursor: pointer;
    scale: 1.2;
    opacity: 0.6;
    transition: 0.5s;
}
.bijela-strelica1:hover{
    cursor: pointer;
    scale: 1.2;
    opacity: 0.6;
    transition: 0.5s;
}
.bolid{
    width: 100%;
    height: 500px;
    margin-top: 0;
    background-color: #a6051a;

}
.bolid h1{
    font-family: 'Formula1-Regular';
    font-size: 30px;
    color: #111111;
    text-align: center;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    border-top: #111111 2px solid;
}
.specs{
    background-color: #303030;
    width: 100%;
    height: 420px;
    margin-top: 0;
}
.specs ul{
    list-style: none;
}
.spec1{
    float: left;
    width: 33.33%;
    height: 100px;
    text-align: center;
    font-family: 'Formula1-Regular';
    font-size: 20px;
    color: #f2f2f2;
}
.spec1 h2{
    font-size: 30px;
    color: #a6051a;
    margin: 0;
}
.spec1 p{
    margin: 0;
}
#main{
    float: left;
    width:70%;
    padding: 0 30px;
    padding-right: 0;
    box-sizing: border-box;
    background-color: #a6051a;
    color: white;
    border-top: #111111 2px solid;
}
#main h2{
    font-family: 'Formula1-Regular';
    font-size: 30px;
    color: #111111;
    text-align: center;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    margin-left: 200px;
}
#sidebar{
    float:right;
    width:30%;
    background-color: #a6051a;
    color: white;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    border-top: #111111 2px solid;
}
#sidebar h3{
    font-family: 'Formula1-Regular';
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    border-left: #fbce11 5px solid;
    border-bottom: #fbce11 5px solid;
    border-bottom-left-radius: 20px;
}
#stats{
    background-color: #0d8922;
    font-family: 'Formula1-Regular';
    color: #111111;
    padding: 0;
    text-align: center;
    justify-content: left;
    float: left;
    margin-top: 1px;
}
#stats h2{
    margin-top: 0;
    margin-bottom: 0;
}
#tabela{
    background-color: #a6051a;
    font-family: 'Formula1-Regular';
    color: white;
    padding: 0;
    text-align: left;
    justify-content: left;
    float: left;
    margin-left: auto;
    margin-right: auto;
    border-left: #0d8922 4px solid;
    border-bottom: #0d8922 4px solid;
}
#konstruktor{
    border-bottom: #0d8922 2px solid;
}
#wdc{
    border-bottom: #0d8922 2px solid;
}

.historija{
    width:70%;
    padding: 0 30px;
    text-align: justify;
    text-justify: newspaper;
}
.historija p{
    margin: 0;
    font-family: 'Formula1-Regular';
    line-height: 2.0em;
    color: lavenderblush;
}
.container h2{
    text-align: center;
    margin: 0;
    font-family: 'Formula1-Regular';
    color: #ffffff;
}
.sampioni ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 50px;
}
.sampioni li{
    font-family: 'Formula1-Regular';
    color: #ffffff;
    padding-bottom: 10px;
}
.sefovi ul{
    list-style: none;
    margin: 0;
    margin-left: 50px;
    padding: 0;
}
.sefovi li{
    font-family: 'Formula1-Regular';
    color: #ffffff;
    padding-bottom: 10px;
}
